*{
  color: white;
  //background-color: #520025;
  font-family: Arial; //TimesNewRoman;
  text-align: center justify;
  margin: 0;
  padding: 0;
}


@keyframes backgroundAnimation {
  0% {
    background-position: bottom left;
  }
  50% {
    background-position: top right;
  }
  100%{
    background-position: bottom left;
  }
}


body{
  background-repeat: no-repeat;
  background-size: 600% 600%;
  background-position: bottom left;
  background-image: linear-gradient(45deg, #520025, #700c33, #fc5956);
  animation: backgroundAnimation 20s infinite;
}

/* cabeçalho */
header{
  align-items: center;
  text-align: center;
  padding: 10%;
  padding-top: 20%;
  padding-bottom: 20%;
}

.titulo{
  font-size: 200%;
  font-family: Arial-Narrow, Arial, sans-serif;
}

.profile-picture{
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: 5px solid transparent;
  border-color: #5941A9;
  //border-image-slice: 1;
}

/* secções */

.direita{
  align: right;
  margin-right: 30%;
}

.esquerda{
  align: left;
  margin-left: 30%;
}

section{
  background-color: rgba(252,134, 61, .3);

  margin-top: 10%;
  padding: 10%;
}

/* rodapé */
footer{
  background-color: rgba(1,62,73,.5);
  position: bottom left;
  margin-left: 0;
  margin-top: 20%;
  padding: 10%;
}
